<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>Library Hawk</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>library_hawk_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>Library Hawk</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>library_hawk_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>name</key>
		<string>Tackle</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>tackle_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>name</key>
		<string>Tackle</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>tackle_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>name</key>
		<string>Hard Tackle</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>hard_tackle_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>name</key>
		<string>Hard Tackle</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>hard_tackle_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>7</string>
		<key>name</key>
		<string>Bonus Miles</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>bonus_miles_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>8</string>
		<key>name</key>
		<string>Bonus Miles</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>bonus_miles_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>9</string>
		<key>name</key>
		<string>Even Madder Scientist</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>even_madder_scientist_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10</string>
		<key>name</key>
		<string>Even Madder Scientist</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>even_madder_scientist_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>11</string>
		<key>name</key>
		<string>Homework Hound</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>homework_hound_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>12</string>
		<key>name</key>
		<string>Homework Hound</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>homework_hound_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>13</string>
		<key>name</key>
		<string>Top Dog</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>top_dog_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>14</string>
		<key>name</key>
		<string>Top Dog</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>top_dog_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>15</string>
		<key>name</key>
		<string>Hercule</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>hercule_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>16</string>
		<key>name</key>
		<string>Hercule</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>hercule_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>17</string>
		<key>name</key>
		<string>Sherlock</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>sherlock_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>18</string>
		<key>name</key>
		<string>Sherlock</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>sherlock_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>19</string>
		<key>name</key>
		<string>Exam Veteran</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>exam_veteran_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>20</string>
		<key>name</key>
		<string>Exam Veteran</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>exam_veteran_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>21</string>
		<key>name</key>
		<string>Extrovert</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>extrovert_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>22</string>
		<key>name</key>
		<string>Extrovert</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>extrovert_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>23</string>
		<key>name</key>
		<string>Team Player</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>team_player_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>24</string>
		<key>name</key>
		<string>Team Player</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>team_player_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>25</string>
		<key>name</key>
		<string>cramped hand</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>cramped_hand_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>26</string>
		<key>name</key>
		<string>cramped hand</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>cramped_hand_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>27</string>
		<key>name</key>
		<string>carpal tunnel</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>carpal_tunnel_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>28</string>
		<key>name</key>
		<string>carpal tunnel</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>carpal_tunnel_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>29</string>
		<key>name</key>
		<string>T-Square</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>t_square_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>30</string>
		<key>name</key>
		<string>T-Square</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>t_square_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>31</string>
		<key>name</key>
		<string>Artist&apos;s Desk</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>artists_desk_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>32</string>
		<key>name</key>
		<string>Artist&apos;s Desk</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>artists_desk_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>33</string>
		<key>name</key>
		<string>Loudspeaker</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>loudspeaker_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>34</string>
		<key>name</key>
		<string>Loudspeaker</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>loudspeaker_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>35</string>
		<key>name</key>
		<string>Fog Horn</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>fog_horn_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>36</string>
		<key>name</key>
		<string>Fog Horn</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>fog_horn_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>37</string>
		<key>name</key>
		<string>Deja vu</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>deja_vu_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>38</string>
		<key>name</key>
		<string>Deja vu</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>deja_vu_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>39</string>
		<key>name</key>
		<string>Deja vu again</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>deja_vu_again_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>40</string>
		<key>name</key>
		<string>Deja vu again</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>deja_vu_again_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>41</string>
		<key>name</key>
		<string>Roving Reporter</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>roving_reporter_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>42</string>
		<key>name</key>
		<string>Roving Reporter</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>roving_reporter_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>43</string>
		<key>name</key>
		<string>Media Mogul</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>media_mogul_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>44</string>
		<key>name</key>
		<string>Media Mogul</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>media_mogul_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>45</string>
		<key>name</key>
		<string>Poster Boy</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>poster_boy_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>46</string>
		<key>name</key>
		<string>Poster Boy</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>poster_boy_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>47</string>
		<key>name</key>
		<string>Pusher</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>pusher_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>48</string>
		<key>name</key>
		<string>Pusher</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>pusher_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>49</string>
		<key>name</key>
		<string>Reacher</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>reacher_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>50</string>
		<key>name</key>
		<string>Reacher</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>reacher_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>51</string>
		<key>name</key>
		<string>Frequent Flier</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>frequent_flyer_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>52</string>
		<key>name</key>
		<string>Frequent Flier</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>frequent_flyer_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>53</string>
		<key>name</key>
		<string>Bibliophile</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>bibliophile_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>54</string>
		<key>name</key>
		<string>Bibliophile</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>bibliophile_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>55</string>
		<key>name</key>
		<string>Bookworm</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>bookworm_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>56</string>
		<key>name</key>
		<string>Bookworm</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>bookworm_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>57</string>
		<key>name</key>
		<string>Desk Jockey</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>desk_jockey_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>58</string>
		<key>name</key>
		<string>Desk Jockey</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>desk_jockey_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>59</string>
		<key>name</key>
		<string>Key Puncher</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>key_puncher_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>60</string>
		<key>name</key>
		<string>Key Puncher</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>key_puncher_gold</string>
	</dict>
	<dict>
		<key>id</key>
		<string>61</string>
		<key>name</key>
		<string>Campus Captain</string>
		<key>type</key>
		<string>silver</string>
		<key>icon</key>
		<string>campus_captain_silver</string>
	</dict>
	<dict>
		<key>id</key>
		<string>62</string>
		<key>name</key>
		<string>Campus Captain</string>
		<key>type</key>
		<string>gold</string>
		<key>icon</key>
		<string>campus_captain_gold</string>
	</dict>
</array>
</plist>
